<!-- Details of a Pokemon -->

<ion-header>

  <ion-navbar>
    <button ion-button menuToggle icon-only>
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>{{ 'DESCRIPTION' | translate }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <ion-spinner *ngIf="showLoader"></ion-spinner>

  <!-- Page loaded -->
  <ion-card class="card" *ngIf="!showLoader">
    <ion-grid>
      <ion-row>
        <ion-col col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6>
          <img class="imageSize" src="/assets/img/official-artwork/{{ id }}.png">
          <h2 class="text-center">No. {{ id | number : '3.0-0' }}</h2>
        </ion-col>
        <ion-col col-12 col-md-2 col-lg-2 col-xl-2></ion-col>
        <ion-col col-12 col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 class="padding-top">
          <ion-row class="margin-bottom">
            <ion-col col-12>
              <h1>
                {{ utilService.getLocalizedEntry(pokemonSpecies.names, language).name }} 
              </h1>
            </ion-col>
          </ion-row>
          <ion-row class="margin-bottom">
            <ion-col col-12>
              <ion-chip>
                <ion-avatar>
                  <img src="/assets/icon/height.png">
                </ion-avatar>
                <ion-label>{{ pokemon.height / 10 | number : '1.1-1' }} m</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
          <ion-row class="margin-bottom">
            <ion-col col-12>
              <ion-chip>
                <ion-avatar>
                  <img src="/assets/icon/weight.png">
                </ion-avatar>
                <ion-label>{{ pokemon.weight / 10 | number : '1.1-1' }} kg</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
          <ion-row class="margin-bottom">
            <ion-col col-12>
              <ion-chip *ngFor="let type of types" color="{{type.name}}" style="margin-right: 10px;">
                <ion-label>{{ utilService.getLocalizedEntry(type.names, language).name }}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p>{{ utilService.getLocalizedEntry(pokemonSpecies.flavor_text_entries, language).flavor_text }}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card> 
</ion-content>
